@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', Sans-Serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background: #282828;
}

a {
    color: inherit;
    text-decoration: underline;
}

@media screen and (min-width:767px) {
    p, h4 {
        font-size: x-large;
    }
}

.headDiv {
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 767px) {
    .headDiv {
        height: 300px;
    }

    .randomBlock {
        height: 100px;
    }
}

.headImg {
    width: 100%;
    height: auto;
}

.profileImg {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    top: 75;
}

@media screen and (min-width:767px) {
    .profileImg {
        width: 250px;
        height: 250px;
        border-radius: 125px;
        position: absolute;
        top: 250px;
    }

    .scmLinks a {
        margin: 165px;
    }
}

.randomBlock {
    width: 100%;
    height: 60px;
    background: transparent;
}

.randomblock {
    width: 100%;
    height: 20px;
    background: transparent;
}

.section {
    width: 100%;
    height: auto;
    background: transparent;
}

.scmLinks {
    width: 90%;
    height: 45px;
    border: 3px solid rgba(134, 134, 134, .98);
    border-radius: 7px;
    background: transparent;
    margin: 5%;
    display: flex;
    align-items: center;
}

.scmLinks i {
    position: absolute;
    right: 0;
    margin: 30px;
}

.scmLinks a {
    position: absolute;
    left: 0;
    margin: 35px;
    text-decoration: underline;
}

@media screen and (min-width:767px) {
    .randomBlock {
        height: 200px;
    }

    .scmLinks a {
        margin: 90px;
    }

    .scmLinks i {
        margin: 90px;
    }
}

.lbl {
    width: 90%;
    height: 30px;
    background: transparent;
    margin: 5%;
}

.article {
    width: 95%;
    height: auto;
    background: transparent;
    margin: 2.5%;
}

.blog {
    width: 95%;
    height: auto;
    background: transparent;
    margin: 2.5%;
    border: 2px solid rgba(134, 134, 134, .98);
    border-radius: 3px;
}

.blogImg {
    width: 100%;
    height: auto;
}

.blogTxt {
    width: 90%;
    height: 35px;
    background: transparent;
    overflow: hidden;
    margin: 5%;
}

.blogTxt p {
    margin: 15px;
}

footer {
    width: 100%;
    height: auto;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}